$media-spacing:             $base-spacing !default;

$media-spacing--quarter:    $media-spacing / 4 !default;
$media-spacing--half:       $media-spacing / 2 !default;
$media-spacing--double:     $media-spacing * 2 !default;
$media-spacing--quadruple:  $media-spacing * 4 !default;

%media,
.media {
  @extend %clearfix;

  display: block;
}

%media__image,
.media__image {
  float: left;

  margin-right: rem($media-spacing);

  %media--half > &,
  .media--half > & {
    margin-right: rem($media-spacing--half);
  }

  %media--quarter > &,
  .media--quarter > & {
    margin-right: rem($media-spacing--quarter);
  }

  %media--double > &,
  .media--double > & {
    margin-right: rem($media-spacing--double);
  }

  %media--quadruple > &,
  .media--quadruple > & {
    margin-right: rem($media-spacing--quadruple);
  }
}

%media__image--alternate,
.media__image--alternate {
  float: right;

  margin-left: rem($media-spacing);

  %media--half > &,
  .media--half > & {
    margin-left: rem($media-spacing--half);
  }

  %media--quarter > &,
  .media--quarter > & {
    margin-left: rem($media-spacing--quarter);
  }

  %media--double > &,
  .media--double > & {
    margin-left: rem($media-spacing--double);
  }

  %media--quadruple > &,
  .media--quadruple > & {
    margin-left: rem($media-spacing--quadruple);
  }
}

%media__body,
.media__body {
  display: block;

  overflow: hidden;
}
