%media,
.media {
  @extend %clearfix;

  display: block;
}

%media__image,
.media__image {
  float: left;

  margin-right: rem($spacing-unit);

  #media--half > &,
  .media--half > & {
    margin-right: rem($spacing-unit--half);
  }

  #media--quarter > &,
  .media--quarter > & {
    margin-right: rem($spacing-unit--quarter);
  }

  #media--double > &,
  .media--double > & {
    margin-right: rem($spacing-unit--double);
  }

  #media--quadruple > &,
  .media--quadruple > & {
    margin-right: rem($spacing-unit--quadruple);
  }
}

%media__image--alternate,
.media__image--alternate {
  float: right;

  margin-left: rem($spacing-unit);

  #media--half > &,
  .media--half > & {
    margin-left: rem($spacing-unit--half);
  }

  #media--quarter > &,
  .media--quarter > & {
    margin-left: rem($spacing-unit--quarter);
  }

  #media--double > &,
  .media--double > & {
    margin-left: rem($spacing-unit--double);
  }

  #media--quadruple > &,
  .media--quadruple > & {
    margin-left: rem($spacing-unit--quadruple);
  }
}

%media__body,
.media__body {
  display: block;

  overflow: hidden;
}
